/*font mixin*/
@mixin font($font-size, $line-height, $font-weight:normal){
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $font-weight;
}
@mixin size($width, $height:$width){
	width: $width;
	height: $height;
}
@mixin line-clamp ($lineheight, $maxlines) {
	overflow: hidden;
	line-height: $lineheight;
	text-overflow: ellipsis;
	display: -webkit-box;
	max-height: $lineheight * $maxlines;/* fallback */
	-webkit-line-clamp: $maxlines; /* number of lines to show */
	-webkit-box-orient: vertical;
}